<% include ../partials/header %>

<h1>POSTS INDEX</h1>

<!-- <form method="POST" action="/login" >
  <input type="submit" value="LogOUT" class="btn btn-primary">
</form> -->

<a href="/logout">Logout</a>


<% include ../partials/footer %>